:root {
  --dec: 10px;
  --font-size-content: 1.6rem;
  --color-gray: rgb(129, 129, 129);
  --color-light: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--color-gray);
}